# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# IDEs and editors
.vscode/
.idea/
*.swp

# Jupyter Notebooks
.ipynb_checkpoints/

# Pytest
.cache/

# Local configuration files
*.env
*.local

# macOS specific
.DS_Store

# Windows specific
Thumbs.db

# Coverage reports
*.coverage
.coverage.*
*.lcov

# mypy
.mypy_cache/
.dmypy.json

# pyre
.pyre/

# Bandit
.bandit/

# PyCharm
*.iml